<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<div [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xxlarge">
  <div class="row">
    <div class="col-md-12">
      <nb-card class="quick-stats-container-card" status="default">
        <nb-card-header>
            <div class="d-flex justify-content-between">
                <div class="">
                  <span class="card-header-title">Quick Stats</span>
                  <small class="ml-2 text-muted"><i class="far fa-clock"></i> Last updated {{updatedAt}}</small>
                </div>
                <div class="">
                  <nb-actions size="medium">
                    <nb-action nbPopover="Refresh" nbPopoverMode="hint" icon="fas fa-sync-alt" (click)="refresh()" shape="semi-round" outline status="info"></nb-action>
                  </nb-actions>
                </div>
              </div>
        </nb-card-header>
      </nb-card>
    </div>
    
  </div>
  <div class="row">
    <div class="col-xxxl-2 col-md-2" *ngFor="let statusCard of statusCards">
      <ngx-count-card [title]="statusCard.title"
                      [type]="statusCard.type" 
                      [iconClass]="statusCard.iconClass"
                      [number]="statusCard.number"
                      [footerIconClass]="statusCard.footerIconClass"
                      [footer]="statusCard.footer">
      </ngx-count-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <ngx-recent-table [transactionStatus]="'COMMITTED'" [showTitle]='true' [showActions]='true'></ngx-recent-table>
    </div>
    <div class="col-md-6">
      <ngx-recent-table [transactionStatus]="'PENDING'" [showTitle]='true' [showActions]='true'></ngx-recent-table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ngx-recent-table [transactionStatus]="'COMPENSATING'" [showTitle]='true' [showActions]='true'></ngx-recent-table>
    </div>
    <div class="col-md-6">
      <ngx-recent-table [transactionStatus]="'ROLLBACKED'" [showTitle]='true' [showActions]='true'></ngx-recent-table>
    </div>
  </div>
</div>
