<div class="row">
  <div class="col-xxxl-12 col-md-12 mb-4">
      <button title="Refresh" (click)="refresh()" class="float-left" nbButton shape="semi-round" outline status="info"><i class="fas  fa-sync-alt"></i></button>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-md-3" *ngFor="let statusCard of statusCards">
    <ngx-count-card [title]="statusCard.title"
                     [type]="statusCard.type" 
                     [iconClass]="statusCard.iconClass"
                     [number]="statusCard.number"
                     [footerIconClass]="statusCard.footerIconClass"
                     [footer]="statusCard.footer">
    </ngx-count-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card status="success" >
      <nb-card-header>
        <div class="d-flex justify-content-between">
          <div class="">
            <span class="card-header-title">Last 5 Succesful Transaction</span>
          </div>
          <div class="">
            <nb-actions size="small" inverse="true">
              <nb-action nbPopover="View All Transactions" nbPopoverMode="hint" icon="fas fa-external-link-alt"></nb-action>
            </nb-actions>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="table-responsive-sm">
          <table class="table">
            <thead>
              <tr class="d-flex">
                <th class="col-1">ID</th>
                <th class="col-1">Service Name</th>
                <th class="col-1">Instance ID</th>
                <th class="col-2">Global Tx ID</th>
                <th class="col-2">Local Tx ID</th>
                <th class="col-2">Created At</th>
                <th class="col-3">Compensation Method</th>
              </tr>
            </thead>
            <tbody *ngIf='succTransactionsArr.length'>
              <tr *ngFor="let event of succTransactionsArr | slice:0:5" class="d-flex">
                <td class="col-1">{{event.surrogateId}}</td>
                <td class="col-1">{{event.serviceName}}</td>
                <td class="col-1">{{event.instanceId}}</td>
                <td class="col-2">{{event.globalTxId}}</td>
                <td class="col-2">{{event.localTxId}}</td>
                <td class="col-2">{{event.creationTime | date:'MMMM d, y, h:mm:ss a zzzz'}}</td>
                <td nbPopover="{{event.compensationMethod}}"  nbPopoverMode="hover" class="col-3 text-truncate">{{event.compensationMethod?event.compensationMethod:'-'}}</td>
              </tr>
            </tbody>
            <tbody *ngIf='!succTransactionsArr.length'>
              <p class="d-flex justify-content-center align-items-center mt-5">No Data Available.</p>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-12">
    <nb-card status="danger">
      <nb-card-header>
        <div class="d-flex justify-content-between">
          <div class="">
            <span class="card-header-title">Last 5 Failed Transaction</span>
          </div>
          <div class="">
            <nb-actions size="small" inverse="true">
              <nb-action nbPopover="View All Transactions" nbPopoverMode="hint" icon="fas fa-external-link-alt"></nb-action>
            </nb-actions>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="table-responsive-sm">
          <table class="table">
            <thead>
              <tr class="d-flex">
                <th class="col-1">ID</th>
                <th class="col-1">Service Name</th>
                <th class="col-1">Instance ID</th>
                <th class="col-2">Global Tx ID</th>
                <th class="col-2">Local Tx ID</th>
                <th class="col-2">Created At</th>
                <th class="col-3">Compensation Method</th>
              </tr>
            </thead>
            <tbody *ngIf='failedTransactionsArr.length'>
              <tr *ngFor="let event of failedTransactionsArr | slice:0:5" class="d-flex">
                <td class="col-1">{{event.surrogateId}}</td>
                <td class="col-1">{{event.serviceName}}</td>
                <td class="col-1">{{event.instanceId}}</td>
                <td class="col-2">{{event.globalTxId}}</td>
                <td class="col-2">{{event.localTxId}}</td>
                <td class="col-2">{{event.creationTime | date:'MMMM d, y, h:mm:ss a zzzz'}}</td>
                <td nbPopover="{{event.compensationMethod}}"  nbPopoverMode="hover" class="col-3 text-truncate">{{event.compensationMethod?event.compensationMethod:'-'}}</td>
              </tr>
            </tbody>
            <tbody *ngIf='!failedTransactionsArr.length'>
              <p class="d-flex justify-content-center align-items-center mt-5">No Data Available.</p>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
