<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<transaction_table th:fragment="transaction_table" class="sticky-footer bg-white" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="table-responsive">
    <table class="row-border table table-alpha" id="dataTable" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th>Service Name</th>
        <th>Instance ID</th>
        <th>Global Tx ID</th>
        <th>Children</th>
        <th>Time</th>
        <th>Duration(ms)</th>
        <th>Final State</th>
      </tr>
      </thead>
    </table>
  </div>
</transaction_table>